.conatiner,
.container__contact {
	width: 58%;
	display: grid;
	/* grid-template-columns: 30% 50%; */
	grid-template-columns: 50%;
	align-items: center;
	justify-content: center;
	gap: 12%;
}

.contact__options {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

.contact__option {
	background: var(--color-bg-variant-2);
	padding: 1.2rem;
	border-radius: 1.2rem;
	text-align: center;
	border: 1px solid transparent;
	transition: var(--transition);
}

.contact__option:hover {
	background: transparent;
	border-color: var(--color-primary-variant);
}

.icon {
	font-size: 2rem;
	margin-bottom: 0.5rem;
	color: var(--color-light);
}

.contact__option a {
	margin-top: 0.7rem;
	display: inline-block;
	font-size: 0.8rem;
}

/* form {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

input,
textarea {
	width: 100%;
	padding: 1.5rem;
	border-radius: 0.5rem;
	background: transparent;
	border: 2px solid var(--color-primary-variant);
	resize: none;
	color: var(--color-white);
} */

/************************ MEDIA QUERIES *********************/

/* Medium Devices */

@media screen and (max-width: 1024px) {
	.container,
	.container__contact {
		grid-template-columns: 1fr;
		gap: 2rem;
	}
	.customH2 {
		font-size: 30px !important;
	}
}

/* Small Devices */

@media screen and (max-width: 600px) {
	.conatiner,
	.container__contact {
		width: var(--container-width-sm);
	}
}
