.customH2 {
	/* font-weight: 100;
	font-size: 1rem;
	line-height: 0.3;
	text-transform: uppercase;
	letter-spacing: 5px;
	white-space: nowrap;
	text-shadow: 3px 3px #000000;
	color: aliceblue !important; */

	/* color: aqua; */
	/* padding-top: 1.5rem; */
	/* text-shadow: z1px 1px #1d87ce; */
}
.customH5 {
	/* width: max-content;
	margin: 0 auto;
	font-size: 1rem;
	line-height: 0.3;
	text-transform: uppercase;
	font-weight: 100;
	white-space: nowrap; */

	/* background: #189dd1bb; */
	/* color: #08152e !important; */
	/* text-shadow: 2px 2px #189dd1; */
	/* padding-top: 10px; */
	/* letter-spacing: 0px; */
	/* transform: translateY(50%); */
	/* color: #0e354d !important; */
	/* margin-bottom: 1rem; */
}

header {
	height: 100vh;
	padding-top: 7rem;
	overflow: hidden;
}

.header__container {
	text-align: center;
	height: 100%;
	position: relative;
}

/* ************** Resume **************** */

.resume {
	margin-top: 2.5rem;
	display: flex;
	gap: 1.2rem;
	justify-content: center;
}

/* ******* Header Socials ********* */

.header__socials {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.8rem;
	position: absolute;
	left: 0;
	bottom: 3rem;
	font-size: 1.1rem;
}
.header__socials::after {
	content: '';
	width: 1px;
	height: 2rem;
	background: var(--color-primary);
}

/* ************* My Header photo ************** */

.my__photo {
	background: linear-gradient(var(--color-primary-variant), transparent);
	width: 22rem;
	position: absolute;
	left: calc(50% - 11rem);
	margin-top: 3rem;
	/* border-radius: 12rem 12rem 1rem 1rem; */
	box-shadow: 0 0.1em 1.2em 0 var(--color-primary),
		0 0.4em 1.25em 0 rgba(255, 255, 255, 0.15) !important;
	border-radius: 50%;
	overflow: hidden;
	border-width: 2px;
	border-color: var(--color-primary);
	border-style: solid;
}

/* Header Scroll to Bottom */

.scroll__down {
	position: absolute;
	right: -2.3rem;
	bottom: 5rem;
	transform: rotate(90deg);
	font-weight: 300;
	font-size: 0.9rem;
}

/************************ MEDIA QUERIES *********************/

/* Medium Devices */

@media screen and (max-width: 1024px) {
	header {
		height: 85vh;
	}
	.my__photo {
		width: 29vh;
		height: auto;
		left: calc(50% - 9rem);
		margin-top: 2rem;
	}
}

/* Small Devices */

@media screen and (max-width: 600px) {
	header {
		height: 85vh;
	}
	.my__photo {
		width: 29vh;
		height: auto;
		left: calc(50% - 7rem);
		margin-top: 1.5rem;
	}

	.scroll__down {
		display: none;
	}
	.header__socials {
		justify-content: center;
		position: absolute;
		z-index: 2;
	}
	.header__socials::after {
		display: none;
	}
}
