/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,600&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;0,900;1,100;1,500;1,600;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

:root {
	/* background color */
	--color-bg: #1f1f38;
	--color-bg-2: rgb(9, 21, 31);
	/* background color variant  */
	--color-bg-variant: #2c2c6c;
	--color-bg-variant-2: #07193a65;
	/* primary color */
	--color-primary: #4db5ff;
	/* primary color variant */
	--color-primary-variant: rgba(77, 181, 255, 0.4);
	/* text color */
	--color-white: #fff;
	--color-light: rgba(255, 255, 255, 0.6);
	/* container width variables */
	--container-width-lg: 75%;
	--container-width-md: 86%;
	--container-width-sm: 90%;

	--transition: all 400ms ease;
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	display: none;
}

body {
	font-family: 'Poppins', sans-serif;
	/* background: var(--color-bg); */
	background: var(--color-bg-2);
	color: var(--color-white);
	line-height: 1.7;
	background-image: url(../public/bg-texture.png);
	position: relative;
	cursor: default;
}

/* ************** GENERAL STYLES *******************/

.container {
	width: var(--container-width-lg);
	margin: 0 auto;
}

h1,
h4 {
	font-weight: 500;
	margin-top: 10px;
}
h3 {
	margin: 0 auto;
	font-size: 1rem;
	color: var(--color-primary);
	line-height: 0.3;
	text-transform: uppercase;
	font-weight: 300;
	white-space: nowrap;
	letter-spacing: 0.5px;
	/* margin-top: 10px; */
}
h6 {
	font-weight: 100;
	font-size: 0.8rem;
	line-height: 0.3;
	text-transform: uppercase;
	letter-spacing: 4px;
	white-space: nowrap;
	margin-bottom: 5px;
	margin-top: 5px;
	text-shadow: 3px 3px #000000;
	color: var(--color-light) !important;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-weight: 300;
	font-size: 3rem;
	line-height: 0.6;
	text-transform: uppercase;
	letter-spacing: 5px;
	white-space: nowrap;
	text-shadow: 3px 3px #000000;
	color: aliceblue !important;
	padding-bottom: 30px;

	/* color: aqua; */
	/* padding-top: 1.5rem; */
	/* text-shadow: z1px 1px #1d87ce; 
	test
	*/
}
h5 {
	/* background: #189dd1bb; */
	background: linear-gradient(65deg, transparent, var(--color-primary));
	width: max-content;
	margin: 0 auto;
	color: #08152e !important;
	text-shadow: 2px 2px #189dd1;
	font-size: 4rem;
	padding-top: 30px;
	line-height: 0.3;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 10px;
	white-space: nowrap;
	/* transform: translateY(50%); */
	/* color: #0e354d !important; */
	/* margin-bottom: 1rem; */
}

section {
	margin-top: 8rem;
	/* height: 100vh; */
}

/* .customH5 {
	font-weight: 100;
	text-shadow: 1px 1px #1d87ce;
	font-size: 4rem;
	line-height: 0.6;
	text-transform: uppercase;
	letter-spacing: 10px;
	white-space: nowrap;

	padding-top: 1.5rem;
}
.customH2 {
	font-size: 40px;
	line-height: 0.2;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 10px;
	transform: translateY(50%);
	text-shadow: 2px 2px #000000;
	white-space: nowrap;
	color: #0e354d !important;
	margin-bottom: 3rem;
} */

section > h2,
section > h5 {
	text-align: center;
	color: var(--color-light);
}

/* .customH5 {
	font-weight: 100;
	text-shadow: 1px 1px #1d87ce;
	font-size: 4rem;
	line-height: 0.6;
	text-transform: uppercase;
	letter-spacing: 10px;
	white-space: nowrap;
	
	padding-top: 1.5rem;
}
.customH2 {
	font-size: 40px;
	line-height: 0.2;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 10px;
	transform: translateY(50%);
	text-shadow: 2px 2px #000000;
	white-space: nowrap;
	color: #0e354d !important;
	margin-bottom: 3rem;
} */

section > h2 {
	color: var(--color-primary);
	margin-bottom: 3rem;
}

.text-light {
	color: var(--color-light);
}

a {
	color: var(--color-primary);
	transition: var(--transition);
}

a:hover {
	color: var(--color-white);
}

.btn {
	width: max-content;
	display: inline-block;
	color: var(--color-primary);
	padding: 0.75rem 1.2rem;
	border-radius: 0.4rem;
	cursor: pointer;
	border: 1px solid var(--color-primary);
	transition: var(--transition);
}

.btn:hover {
	background: var(--color-white);
	color: var(--color-bg);
	border-color: transparent;
}

.btn-primary {
	background: var(--color-primary);
	color: var(--color-bg);
}

img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
	object-fit: cover;
	transition: var(--transition);
}

img:hover {
	opacity: 0.6;
}

/************************ MEDIA QUERIES *********************/

/* Medium Devices */

@media screen and (max-width: 1024px) {
	.container {
		width: var(--container-width-md);
		/* margin-left: 5px; */
	}
	section {
		margin-top: 6rem;
	}

	h3 {
		font-size: 0.9rem;
	}
	h6 {
		font-size: 0.9rem;
	}
	h5 {
		font-size: 3rem;
	}
	h2 {
		font-size: 3rem;
		margin-top: 10px !important;
		margin-bottom: 100px !important;
	}
}

/* Small Devices */

@media screen and (max-width: 600px) {
	.container {
		width: var(--container-width-sm);
	}
	section > h2 {
		margin-bottom: 2rem;
	}
	h3 {
		font-size: 0.7rem;
	}
	h6 {
		font-size: 0.7rem;
	}
	h5 {
		font-size: 1.5rem;
	}
	h2 {
		font-size: 1rem;
		margin-top: 10px !important;
		margin-bottom: 100px !important;
	}
}
