nav {
	background: rgba(0, 0, 0, 0.3);
	width: max-content;
	/* margin: 50 auto; */
	display: block;
	padding: 0.7rem 1.7rem;
	z-index: 3;
	position: fixed;
	bottom: 0;
	right: 41%;
	transform: translate(-0%);
	display: flex;
	gap: 0.8rem;
	border-radius: 3rem;
	backdrop-filter: blur(5px);
}

nav a {
	background: transparent;
	padding: 0.9rem;
	border-radius: 50%;
	display: flex;
	color: var(--color-light);
	font-size: 1.1rem;
}

nav a:hover {
	background: rgba(0, 0, 0, 0.4);
}

nav a.active {
	background: var(--color-primary);
	color: var(--color-bg);
}

/************************ MEDIA QUERIES *********************/

/* Medium Devices */

@media screen and (max-width: 1024px) {
	nav {
		right: 30%;
	}
}

/* Small Devices */

@media screen and (max-width: 600px) {
	nav {
		right: 22%;
		padding: 2rem 0.5rem;
	}
}
